/.settings
/*/target
/*/.settings
/*/.project
/*/.classpath
/.idea/*
*.iml
consumer-demo/\.rebel-remote\.xml\.bak

consumer-demo/\.rebel\.xml\.bak

consumer-demo/src/main/resources/rebel\.xml

provider-demo/\.rebel-remote\.xml\.bak

provider-demo/src/main/resources/rebel\.xml

.project
/*.project
/zuul-demo/logs
logs/
/**/*.iml
*.pid

# Build targets
/target/
*/target/
**/target/
/out/
*/out/
*.class

.DS_Store
