server:
  port: 8080
  error:
    include-exception: true
spring:
  application:
    name: msgw-scg
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: false
      httpclient:
        # The connect timeout in millis, the default is 45s.
        connectTimeout: 45000
        responseTimeout: 10000
        pool:
          max-idle-time: 5000
          acquire-timeout: 45000
    consul:
      enabled: true
      scheme: HTTP
ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000
  MaxAutoRetriesNextServer: 1
  MaxAutoRetries: 0

logging:
  file: /tsf-demo-logs/${spring.application.name}/root.log
  level:
    root: INFO