<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="com.tencent.tsf.logger.Log4JPatternLayout">
<!--            <param name="ConversionPattern" value="%d %p %l %c %m%n"/>-->
                        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %T %p %F %r %m%n"/>
        </layout>
    </appender>
    <appender name="TSF" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/tsf-demo-logs/provider-demo/root.log" /><!-- 设置日志输出文件名 -->
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
        <param name="Append" value="true" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="com.tencent.tsf.logger.Log4JPatternLayout">
<!--            <param name="ConversionPattern" value="%d %p %l %c %m%n"/>-->
                        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %T %p %F %r %m%n" />
        </layout>
    </appender>
    <root>
        <priority value ="info" />
        <appender-ref ref="console" />
        <appender-ref ref="TSF"/>
    </root>

</log4j:configuration>